{% extends "master.html" %}
<!--heredamos el bloque title-->
{% block title %}
	<!--establecemos el titulo en el bloque title-->
	Listado de Hackenings
{% endblock %}
<!--finaliza el bloque title-->

<!--heredamos el bloque content-->
{% block content %}
<div class="row">
    <!-- mostramos los mensajes flash -->
    {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% if hackenings|length > 0 %}
                <h2>HACKENINGS</h2>
                {% for hackening in hackenings %}
                     <div class="col-md-12" style="margin-bottom: 6px">
                        <div class="col-md-8">
                            Title: {{ hackening.title }}, Url: {{ hackening.url }}, Content: {{ hackening.content }}
                         </div>
                         <div class="col-md-4">
                             <a href="{% url 'crud1:update_hackening' hackening.id %}" class="btn btn-success">Actualizar</a>
                              <a href="{% url 'crud1:delete_hackening' hackening.id %}" class="btn btn-danger">Eliminar</a>
                         </div>
                     </div>
                {% endfor %}
            {% else %}
                <p>No hay hackenings</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
<!--finaliza el bloque content-->
<!--heredamos el bloque footer-->
{% block footer %}
	 <div class="navbar navbar-inverse navbar-fixed-bottom">
	 	<div class="text-center" style="padding-top: 12px">
	 		<small style="color: #fff">Footer Hackening List</small>
	    </div>
	</div>
{% endblock %}
<!--finaliza el bloque footer-->
